﻿*{
	margin:0; 
	padding:0;
	outline:0;
}
@font-face {
  font-family: 'font1';
  src: url('../fonts/arial.eot');
  src: url('../fonts/arial.ttf');
}
@font-face {
  font-family: 'font1B';
  src: url('../fonts/arialbd.eot');
  src: url('../fonts/arialbd.ttf');
}
@font-face {
  font-family: 'font2';
  src: url('../fonts/Arial_Rounded_MT.eot');
  src: url('../fonts/Arial_Rounded_MT.ttf');
}
@font-face {
  font-family: 'font2B';
  src: url('../fonts/Arial_Rounded_MT_Bold.eot');
  src: url('../fonts/Arial_Rounded_MT_Bold.ttf');
}

a{
	overflow:hidden;
}
b, strong {
	font-family: 'font1B';
}

.displayNone{ 
	display:none;
}

body{ 
	background:#ebebeb; 	
	width:100%;
	height:100%;
	font-family:'font1', sans-serif; 
}

.body{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: -webkit-radial-gradient(circle, #fff, #ebebeb );	
	background: -moz-radial-gradient(circle, #fff, #ebebeb );	
	background: -ms-radial-gradient(circle, #fff, #ebebeb );	
	background: -o-radial-gradient(circle, #fff, #ebebeb );	
	background: radial-gradient(circle, #fff, #ebebeb );	
}

#stage{
	width:800px;
	height:600px; 
	overflow:hidden; 
	display:block; 
	position:absolute; 
	padding:0; 
	margin:auto; 
	top:50%; 
	left:50%; 
	margin:-300px 0 0 -400px;
}
#stage .abs{ 
	position:absolute; 
	top:0; 
	left:0;
}

#stage #scaleArea video{
	width:800px;
	height:600px;
	position:absolute; 
	top:0; 
	left:0;
}
#stage #mc_logo_intro{ 
	background:url(img/logos.png) no-repeat 0 -124px; 
	width:212px; 
	height:60px; 
	top: 450px; 
	left: 50%; 
	margin-left:-106px; 
	text-indent:-5000px;
}
#stage #mc_titulo_intro{ 
	font-size:30pt;
	color:#4a462a; 
	top: 126px;  
	font-family: 'font1B';
	text-transform:uppercase;
	width:800px; 
	text-align:center;
}
#stage #mc_titulo_intro.l2{ 
	font-size:28pt; 
	top: 106px;  
}
#stage #mc_titulo_intro.l3{ 
	font-size:25pt; 
	top: 96px;  
}

#stage .credito{ 
	position:absolute; 
	top:120px; 
	right:-6%; 
	-webkit-transform:rotate(-90deg); 
	-moz-transform:rotate(-90deg);
	-o-transform:rotate(-90deg); 
	-ms-transform:rotate(-90deg); 
	width:205px; 
	height:95px; 
	text-align:right;
}
#stage .credito.grande{ 
	top:200px; 
	right:-18%; 
	width:400px; 
	height:95px; 
}
#stage .credito small{ 
	position:absolute; 
	bottom:0; 
	right:0; 
	font-size:10px; 
	text-shadow:none; 
	color:#fff; 
	text-transform:uppercase;
	font-family: 'font2B';
}
#stage .credito small.black{ 
	color:rgba(0,0,0,.7); 
}

#stage #bgMobPlay{ 
	position:absolute; 
	top:0; 
	left:0; 
	display:block; 
	width:100%; 
	height:100%; 
	background:rgba(0,0,0,.5); 
	cursor:pointer;
}

#stage #bgMobPlay.noBg{ 
	background:transparent; 
}

#stage #bgMobPlay span{ 
	position:absolute; 
	top:50%; 
	left:50%; 
	display:block; 
	width:115px; 
	height:115px;
	background:url(img/sprite.png) no-repeat 0 0; 
	margin:-57px 0 0 -57px;
}
#stage #bgMobPlay.pause span{ 
	width:66px; 
	height:66px;  
	background:url(img/sprite.png) no-repeat -208px 0; 
	margin:-33px 0 0 -33px;
}
#stage #bgMobPlay.play span{ 
	width:66px; 
	height:66px;  
	background:url(img/sprite.png) no-repeat -134px 0; 
	margin:-33px 0 0 -33px;
}

#stage #interatividade{ 
	width:800px; 
	height:600px; 
}

.disable { 
	display: none; 
}
.noSelect { 
	user-select: none; 
	-o-user-select: none; 
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none;
}

#stage #html5Loader{
	position:absolute;
	z-index:99;
	display: block;
	width:800px;	
	height:600px;
	top:0;
	left:0;	
	background:#ebebeb;
	background: -webkit-radial-gradient(circle, rgba(235,235,235,.9), #ebebeb );	
	background: -moz-radial-gradient(circle, rgba(235,235,235,.9), #ebebeb );	
	background: -ms-radial-gradient(circle, rgba(235,235,235,.9) #ebebeb );	
	background: -o-radial-gradient(circle, rgba(235,235,235,.9), #ebebeb );	
	background: radial-gradient(circle, rgba(235,235,235,.9), #ebebeb );
}
#stage #html5Loader canvas{
	position:absolute;
	top:0;
	left:0;	
	width:800px;
	height:600px;
}
#html5Loader .fallback {
	top:50%;
	position:absolute;
	text-align:center;
	width:100%;
	color:white;
	vertical-align: middle;
	display: block;
	font-style: normal;
}
#stage #wrapper > * {
	width:400px;
}

#stage #interface{
	position:absolute;
	top:0;
	left:0;
}
#stage #interface[data-status=off]{
	/*background: url(img/sprite.png) no-repeat -200px -137px;*/
	background:#1aaaa6;
	border-radius:0 0 10px 0;
	width:57px;
	height:57px;
	border-right:3px solid #fff;
	border-bottom:3px solid #fff;
	box-shadow:rgba(0,0,0,.5) 0 0 10px;
}
#stage #interface[data-status=on]{
	width:800px;
	height:600px;
	box-shadow:none;
}
#stage #interface .filtro{
	background:rgba(0,0,0,.55) url(img/cornerMenu.png) no-repeat 60px 60px;
	position:absolute;
	top:0;
	left:0;
	width:800px;
	height:600px;
}

#stage #interface .niveis{
	width:740px;
	position:absolute;
	top:50%;
	left:60px;
	text-align:center;
}
#stage #interface .niveis.numero a{
	width:70px;
	height:70px;
	line-height:70px;
	text-align:center;
	border-radius:70px;
	display:inline-block;
	font-size:57px;
	font-family:'font2';
	text-decoration:none;
	background:#fff;
	color:#35a8a8;
	margin:25px;
	transition: transform .3s ease-in-out;
}
#stage #interface .niveis.numero a:hover{
	transform: scale(1.2,1.2);
}
#stage #interface .niveis.texto a{
	text-align:center;
	display:block;
	font-size:30px;
	font-family:'font2B';
	text-decoration:none;
	color:#fff;
	text-shadow:rgba(0,0,0,.7) 0 0 5px;
	margin:25px 0;
	transition: transform .3s ease-in-out;
}
#stage #interface .niveis.texto a:hover{
	transform: scale(1.2,1.2);
}


#stage #interface .corner{
	background:url(img/cornerMenu.png) no-repeat 0px 0px;
	position:absolute;
	top:60px;
	left:60px;
	width:24px;
	height:18px;
}
#stage #interface #btnOpcoes{
	background: url(img/sprite.png) no-repeat;
	position:absolute;
	top:0;
	left:0;
	height:60px;
	width:60px;
	text-indent:-5000px;
}
#stage #interface[data-status=on] #btnOpcoes{
	background-position:-395px 10px;
	background-color:#1aaaa6;
}
#stage #interface[data-status=off] #btnOpcoes{
	background-position:-344px 11px;
	background-color:#1aaaa6;
}
#stage #interface .b1{
	background:#1aaaa6;
	position:absolute;
	top:0px;
	left:-745px;
	height:60px;
	width:745px;
	color:#FFF;
}
#stage #interface .b1 .titulo{	
	position:absolute;
	top:0;
	right:15px;
	height:60px;
	line-height:60px;
	font-family:'font1';
	font-size:14px;
	text-transform:uppercase;
}
#stage #interface .b2{
	background:#1aaaa6;
	position:absolute;
	top:-545px;
	left:0px;
	width:60px;
	height:545px;
}
#stage #interface .b1 .btn, #stage #interface .b2 .btn{
	width:60px;
	height:55px;
	position:relative;
	background: url(img/sprite.png) no-repeat;
	text-indent:-5000px;
}
#stage #interface .b1 .btn{
	display:inline-block;
}
#stage #interface .b2 .btn{
	display:block;
}
#stage #interface .b2 #btnMenu{
	background-position:-290px 10px;
}
#stage #interface .b2 #btnMenu:hover, #stage #interface .b2 #btnMenu.hover{
	background-position:-290px -90px;
}
#stage #interface .b2 #btnSom[data-status=on]{
	background-position:-503px 10px;
}
#stage #interface .b2 #btnSom[data-status=off]{
	background-position:-554px 10px;
}
#stage #interface .b2 #btnSom[data-status=on]:hover, #stage #interface .b2 #btnSom[data-status=on].hover{
	background-position:-503px -90px;
}
#stage #interface .b2 #btnSom[data-status=off]:hover, #stage #interface .b2 #btnSom[data-status=off].hover{
	background-position:-554px -90px;
}
#stage #interface .b2 #btnAjuda{
	background-position:-289px -36px;
}
#stage #interface .b2 #btnAjuda:hover, #stage #interface .b2 #btnAjuda.hover{
	background-position:-289px -136px;
}
#stage #interface .b2 #btnInformacoes{
	background-position:-343px -36px;
}
#stage #interface .b2 #btnInformacoes:hover, #stage #interface .b2 #btnInformacoes.hover{
	background-position:-343px -136px;
}
#stage #interface .b2 #btnReiniciar{
	background-position:-395px -36px;
}
#stage #interface .b2 #btnReiniciar:hover, #stage #interface .b2 #btnReiniciar.hover{
	background-position:-395px -136px;
}

#stage #interface .boxTexto{
	background:#f2f2f2;
	position:absolute;
	top:55px;
	left:-550px;
	height:545px;
	width:495px;
	font-size:14px;
	font-family:'font1';
	color:#000;
}
#stage #interface .boxTexto p { 
	padding:8px 20px;
}
#stage #interface .boxTexto ul { 
	padding:8px 40px;
}
#stage #interface .boxTexto .fechar { 
	background: url(img/sprite.png) no-repeat -270px -94px;
	position:absolute;
	top:auto;
	right:10px;
	bottom:15px;
	height:40px;
	width:20px;
	text-indent:-5000px;
}
#stage #interface .boxTexto .viewport { 
	height:415px; 
	width:465px; 
	overflow: hidden; 
	position: absolute;
	left:0;
	top:65px;
}
#stage #interface .boxTexto .overview { 
	position: absolute; 
	left: 0; 
	top: 0;
}
#stage #interface .boxTexto .scrollbar{ 
	position:  absolute;  
	width: 10px; 
	top:65px;
	right:10px;
}
#stage #interface .boxTexto .track {
	width:10px;  
	height:100%; 
	position: relative; 
	padding: 0; 
	background:#9dcec8;
	border-radius:10px;
}
#stage #interface .boxTexto .thumb { 
	width: 10px; 
	height:20px; 
	cursor: pointer; 
	overflow: hidden; 
	position: absolute; 
	top: 0; 
	left: 0; 
	background:#35a8a8;
	border-radius:10px;
}

#stage #interface #informacoes span{
	background: url(img/logos.png) no-repeat -142px -78px;
	position:absolute;
	top:15px;
	left:20px;
	height:30px;
	width:105px;
}

#stage #interface #ajuda h3{
	position:absolute;
	top:15px;
	left:20px;
	font-size:24px;
	font-family: 'font1B';
	color:#000;
}
#stage #interface #ajuda p{
	font-size:21px;
}

#stage #interface .boxGaleria{
	background:#e2e2e2;
	position:absolute;
	top:-200px;
	left:55px;
	width:745px;
}
#stage #interface .boxGaleria figure{
	width:128px;
	height:150px;
	margin:0 25px;
	float:left;
	position:relative;
	cursor:pointer;
}
#stage #interface .boxGaleria figure img{
	width:128px;
	height:96px;
	background:#b3b3b3;
	border-radius:5px;
}
#stage #interface .boxGaleria figure span{
	position: absolute; 
	left: 34px; 
	top: 18px;
	width:60px;
	height:60px;
}
#stage #interface .boxGaleria figure.image span{
	background: url(img/sprite.png) no-repeat -556px -210px;
}
#stage #interface .boxGaleria figure.video span{
	background: url(img/sprite.png) no-repeat -482px -210px;
}
#stage #interface .boxGaleria figure figcaption{
	font-size:14px;
	font-family: 'font2B';
	color:#000;
}
#stage #interface .boxGaleria .viewport{
	position:relative;
	width:705px;
	height:150px;
	margin:20px 20px 0 20px;
	overflow:hidden;
}
#stage #interface .boxGaleria .overview { 
	position: absolute; 
	left: 0; 
	top: 0;
}
#stage #interface .boxGaleria .scrollbar{ 
	position: relative;  
	width: 705px; 
	height:10px;
	margin:0 20px 20px 20px;
}
#stage #interface .boxGaleria  .track {
	width:100%;  
	height:10px; 
	position: relative; 
	padding: 0; 
	background:#9dcec8;
	border-radius:10px;
}
#stage #interface .boxGaleria  .thumb { 
	width: 20px; 
	height:10px; 
	cursor: pointer; 
	overflow: hidden; 
	position: absolute; 
	top: 0; 
	left: 0; 
	background:#35a8a8;
	border-radius:10px;
}

#stage #galeria{
	position:absolute; 
	top:0px; 
	left:0px;
	width:800px;  
	height:600px; 
}
#stage #galeria section{
	width:800px;  
	height:600px; 
	overflow:hidden;
}
#stage #galeria section h4{
	position:absolute; 
	top:22px; 
	left:74px;
	color:#fff;
	text-shadow:#000 1px 1px 1px;
	font-size:17px;
}
#stage #galeria section h4.black{
	color:#000;
	text-shadow:none;
}
#stage #galeria section .legenda{
	position:absolute; 
	bottom:0px; 
	left:0px;
	padding:15px 30px;
	background:#f2f2f2;
	font-size:17px;
	color:#000;
	width:740px;  
}
#stage #galeria section .btMaisMenos{
	position:absolute; 
	bottom:0px; 
	right:-2px;
	background:url(img/sprite.png) no-repeat;
	display:block;
	text-indent:-5000px;
	width:60px;  
	height:60px; 
}
#stage #galeria section .btMaisMenos[data-status=mais]{
	background-position:-270px -277px;
}
#stage #galeria section .btMaisMenos[data-status=menos]{
	background-position:-345px -277px;
}
#stage #galeria section .texto{
	position:absolute; 
	top:0px; 
	right:-265px;
	width:205px;
	height:600px;
	background:#f2f2f2;
	padding:40px 30px;
}
#stage #galeria section .texto p{
	font-size:21px;
	color:#000;
}

.fechar{
	position:absolute; 
	top:5px; 
	right:0px;
	background:url(img/sprite.png) no-repeat -556px -277px;
	display:block;
	text-indent:-5000px;
	width:57px;  
	height:57px; 
}
.stNvGaleria{
	position:absolute; 
	top:275px; 
	width:50px;
	height:50px;
	background:url(img/sprite.png) no-repeat;
	display:block;
	text-indent:-5000px;
}
.stNvGaleria.stPrev{
	background-position:-505px -277px;
	left:7px;
}
.stNvGaleria.stNext{
	background-position:-450px -277px;
	right:5px;
}

.btnZoom{
	position:absolute; 
	top:100px; 
	left:10px;
	background:url(img/sprite.png) no-repeat;
	display:block;
	text-indent:-5000px;
	width:39px;  
	height:39px; 
}
.btnZoom[data-status=mais]{
	background-position:-291px -210px;
}
.btnZoom[data-status=menos]{
	background-position:-345px -210px;
}

.btnPadrao{
	display:inline-block;
	padding:0 23px;
	height:35px;
	line-height:37px;
	font-family: 'font2B';
	font-size:16px;
	color:#fff;
	text-decoration:none;
	margin:15px auto;
	background:#35a8a8;
	border-radius:8px;
}

.feedback{
	position:absolute; 
	top:0px; 
	left:0px;
	background:rgba(0,0,0,.5);
	width:800px;  
	height:600px; 
}
.feedback section{
	position:absolute;
	background:#f2f2f2;
	top:50%; 
	left:50%; 
	border-radius:10px;
}
.feedback section article{
	padding:22px 30px 0px 30px;
	font-size:21px;
	line-height:25px; 
	color:#000;
	top:50%; 
	left:50%; 
}
.feedback section article blockquote p { 
	padding:8px 0;
}
.feedback section blockquote ul { 
	padding:8px 20px;
}
.feedback section article h3{
	padding:8px 0;
	font-size:24px;
	font-family: 'font1B';
	color:#000;
}
.feedback section article footer{
	text-align:center;
	padding-bottom:7px;
}
