#exemploDeVideo, #entrada, #jogo, #escolha, #pontuacao{
	width:800px;
	height:600px;
	z-index: 1;
}

#interatividade.nivel1 { background:#FCB813; }
#interatividade.nivel1 #entrada .nivel2 { display:none; }

#interatividade.nivel2 { background:#D8D848; }
#interatividade.nivel2 #entrada .nivel1 { display:none; }

#interatividade.pontuacao { background:#29A86E; }
#interatividade .credito { top:220px; right:-11%; width:300px; display:block; }
#interatividade .credito small { display:none; }

#entrada .bola { position:absolute; top:110px; left:270px; width:290px; height:280px; background: url('img/inicio-circulo.png') no-repeat center center; }
#entrada .bola .bolinha { position:absolute; top:0; left:0; border-radius: 50%; background:#000; }
#entrada .bola .bolinha.tipo1 { width:6px; height:5px; }
#entrada .bola .bolinha.tipo2 { width:7px; height:6px; }
#entrada .bola .bolinha.tipo3 { width:4px; height:3px; }
#entrada .bola .bolinha.tipo4 { width:6px; height:5px; }
#entrada .chamada { display: block; position: absolute; top: 5px; left: 15px; width: 262px; height: 267px; font: 45px "ClaireHandRegular", Arial; color: #ffffff; text-align: center; }
#entrada .chamada p { margin-top:60px; }
#entrada .chamada span { font: 100px/1 "ClaireHandBold", Arial; }
#entrada .nivel1 { background: url('img/inicio-nivel-1.png') no-repeat center center; }
#entrada .nivel2 { background: url('img/inicio-nivel-2.png') no-repeat center center; }

#entrada .btn-jogar { display: block; position: absolute; bottom: 70px; left: 50%; width: 170px; height: 70px; margin-left:-85px; font: 25px/70px "ClaireHandRegular", Arial; color: #ffffff; text-align: center; text-decoration: none; background: url('img/btn-jogar.png') no-repeat left top; }

#jogo .lousa { position:absolute; top:106px; left:50%; width:647px; height:274px; margin-left:-323px; background:no-repeat center center; }
.nivel1 #jogo .lousa { background-image:url('img/lousa-nivel-1.png'); }
.nivel2 #jogo .lousa { background-image:url('img/lousa-nivel-2.png'); }
#jogo .lousa .mascara { width:100%; margin-top:50px; overflow:hidden; }
#jogo .lousa .pergunta { width:647px; text-align:center; font: 95px/1em 'babioleregular' Arial; color:#ffffff; }
#jogo .lousa .resposta { position:absolute; bottom:0; left:50%; width:115px; height:120px; margin-left:-52px; text-align:center; font: 55px/1em 'babioleregular' Arial; color:#ffffff; }
#jogo .lousa .resposta span { display:block; width:100%; height:100%; line-height:120px; }
#jogo .lousa .resposta span.certa { background: url('img/resposta-certa.png') center center no-repeat; }
#jogo .lousa .resposta span.errada { background: url('img/resposta-errada.png') center center no-repeat; }

#jogo .opcoes { position:absolute; top:400px; width:100%; height:120px; text-align:center; }
#jogo .opcoes a { display:inline-block; width:120px; height:120px; color:#ffffff; font: 55px/120px 'babioleregular' Arial; background: center center no-repeat; text-decoration:none; text-align:center; margin-right:40px; }
.nivel1 #jogo .opcoes a { background-image:url('img/escolha-padrao-nivel-1.png'); }
.nivel2 #jogo .opcoes a { background-image:url('img/escolha-padrao-nivel-2.png'); }
#jogo .opcoes a:last-child { margin-right:0; }
#jogo .opcoes a.certa { overflow:hidden; text-indent:-9999px; background-image:url('img/escolha-vazio.png'); }
#jogo .opcoes a.correta { color:#29A86E; background-image:url('img/escolha-errado.png'); }

#jogo .placar { position:absolute; height:90px; width:200px; top:10px; right:10px; background: url('img/placar.png') no-repeat left center; }
#jogo .placar .pontos { position:absolute; font-family: 'ClaireHandRegular' Arial; font-size:20px; left:15px; top:35px; }
#jogo .placar .relogio { position:absolute; top:0; right:0; width:80px; height:90px; text-align:center; background:url('img/relogio.png') no-repeat center center; font: 36px/105px 'babioleregular', Arial; }
#jogo .placar .relogio.alerta { background-image:url('img/relogio-v.png'); }

#jogo .lettering { position:absolute; top:40px; left:100px; width:102px; height:40px; background: url('img/placa-qtde-dnb.png') no-repeat 0 0; text-align:center; line-height:40px; }
#jogo .lettering span { font-family: 'ClaireHandRegular' Arial; font-size:20px; }
.nivel1 #jogo .lettering .nivel2 { display:none; }
.nivel2 #jogo .lettering .nivel1 { display:none; }

#escolha .opcao { display:block; position:absolute; left:50%; margin-left:-155px; width:312px; height:145px; }
#escolha .opcao .numero { position:absolute; left:50%; margin-left:-50px; width:106px; height:40px; z-index:1; color:#000; text-align:center; font-family: 'ClaireHandRegular', Arial; font-size:22px; line-height:46px; background: no-repeat center center; }
#escolha .opcao .btn { display:block; position:absolute; margin-left:-150px; left:50%; top:40px; width:300px; height:101px; z-index:2; color:#ffffff; text-align:center; font: 22px/105px 'ClaireHandRegular', Arial; background: no-repeat left top; text-decoration:none; }
.nivel1 #escolha .opcao .numero { background-image:url('img/placa-qtde-nivel-1.png'); }
.nivel2 #escolha .opcao .numero { background-image:url('img/placa-qtde-nivel-2.png'); }
.nivel1 #escolha .opcao .btn { background-image:url('img/btn-grande-nivel-1.png'); }
.nivel2 #escolha .opcao .btn { background-image:url('img/btn-grande-nivel-2.png'); }
#escolha .opcao .btn.duas-linhas { padding:22px 10px 0; line-height:30px; }
#escolha .opcao.disable .numero { background-image:url('img/placa-qtde-dnb.png'); }
#escolha .opcao.disable .btn { background-image:url('img/btn-grande-dnb.png'); color:#000; }

#escolha .nivel1 { top:36px; }
#escolha .nivel2 { top:236px; }
#escolha .encerrar { top:406px; }

#escolha .placa-continuar { display:none; position:absolute; top:50%; left:50%; width:530px; height:250px; margin: -125px 0 0 -265px; background: no-repeat center center; }
.nivel1 #escolha .placa-continuar { background-image:url('img/placa-nivel-1.png'); }
.nivel2 #escolha .placa-continuar { background-image:url('img/placa-nivel-2.png'); }
#escolha .placa-continuar p { font: 25px/32px 'ClaireHandRegular' Arial; margin:50px 50px; text-align:center; color:#ffffff; }
#escolha .placa-continuar .btn { position:absolute; text-decoration:none; color:#000; font: 36px/50px 'ClaireHandBold' Arial; }
#escolha .placa-continuar .btn-sim { top:170px; left:300px; }
#escolha .placa-continuar .btn-nao { top:170px; left:130px; }

#pontuacao .estrelas { position:absolute; top:50px; left:50%; width:280px; margin-left:-140px; height:80px; }
/*#pontuacao .estrelas .estrela { position:absolute; display:block; top:0; width:80px; height:72px; background-repeat:no-repeat; background-position:0 0; }
#pontuacao .estrelas .estrela.cheia { background-image:url('img/estrela-cheia.png'); }
#pontuacao .estrelas .estrela.meia { background-image:url('img/estrela-meio.png'); }
#pontuacao .estrelas .estrela.vazia { background-image:url('img/estrela-vazia.png'); }

#pontuacao .estrelas .estrela.estrela-1 { left:0; }
#pontuacao .estrelas .estrela.estrela-2 { left:50%; margin-left:-35px; }
#pontuacao .estrelas .estrela.estrela-3 { right:0; }*/

#pontuacao .estrelas .estrela { position:absolute; display:block; top:0; width:80px; height:72px; background-repeat:no-repeat; background-position:0 0; background-image:url('img/estrela-vazia.png'); }
#pontuacao .estrelas .estrela span { display:block; width:80px; height:72px; background-repeat:no-repeat; background-position:0 0; }

#pontuacao .estrelas .estrela .cheia { background-image:url('img/estrela-cheia.png'); }
#pontuacao .estrelas .estrela .meia { background-image:url('img/estrela-meio.png'); }
#pontuacao .estrelas .estrela .vazia { background-image:url('img/estrela-vazia.png'); }

#pontuacao .estrelas .estrela.estrela-1 { left:0; }
#pontuacao .estrelas .estrela.estrela-2 { left:50%; margin-left:-35px; }
#pontuacao .estrelas .estrela.estrela-3 { right:0; }

#pontuacao .placa { position:absolute; top:160px; left:50%; width:531px; height:286px; margin: 0 0 0 -265px; background:url('img/placa-pontuacao.png') no-repeat center center; }
#pontuacao .placa h3 { font: bold 35px 'ClaireHandBold' Arial; text-align:center; margin:20px 0; }
#pontuacao .placa p { font: 30px 'ClaireHandRegular' Arial; padding:0 50px; margin-bottom:10px; }
#pontuacao .placa p .direita { float:right; }
#pontuacao .placa p.divisao { padding:0 30px; line-height:0; margin-bottom:20px; text-align:center; }
#pontuacao .placa img { text-align:center; margin:0 auto; }

#pontuacao .btn-reiniciar { display: block; position: absolute; bottom: 40px; left: 50%; width: 231px; height: 81px; margin-left:-115px; font: 25px/77px "ClaireHandRegular", Arial; color: #000000; text-align: center; text-decoration: none; background: url('img/btn-reiniciar.png') no-repeat left top; }

#interface { z-index: 1000; }
















